h1 {
  text-align:  center;

}

p.about {
  width: 50%

  
}

img {
  float: left;
}

h2 {
  text-align: left;
  font-style: italic;
}

body {
  background-color:lavender;
}

.link-list{
  font-size: small;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  background-color: lightpink;
}

.hobbies-list{
  width: 300px;
  
}